 *{
	 margin: 0;
	 padding: 0;
	 font-family: Century Gothic;
 }

 header{
		background-image: url('../images/rent.jpeg');
		height: 100vh;
		background-size: cover;
		background-position: center;
 }

 a{
	 text-decoration: none;
 }

 .lang-menu{
	 margin-left: 10px;
	 margin-right: 10px;
 }

 .lang-menu:hover ul{
	 display: block;
 }

 .lang-menu ul{
	 margin: 0;
	 padding: 0;
	 background-color: #888888;
	 border: 1px solid #f8f8f8;
	 box-shadow: 0px 1px 10px rgba(0,0,0,1);
	 width: 90px;
	 height: 120px;
	 display: none;
 }

 .lang-menu ul li{
	 list-style: none;
	 display: flex;
	 justify-content: space-between;
 }

 .lang-menu ul li a{
	 width: 100px;
	 display: block;
	 padding: 5px 10px;
 }

 .lang-menu ul li a:before{
	 content: '';
	 display: block;
	 width: 35px;
	 height: 25px;
	 vertical-align: middle;
	 margin-top: 5px;
	 margin-left: 5px;
	 background-size: 35px 35px;
 }

 .lang-menu ul li a:hover{
	 background-color: #f2f2f2;
	 width: 125px;
 }

 .en:before{
	 background-image: url('../images/united.jpg');
 }

 .ro:before{
	 background-image: url('../images/romania.jpg');
 }

 .selected-lang{
	 cursor: pointer;
	 display: flex;
	 justify-content: space-between;
	 line-height: 2;
	 width: 100px;
 }

 .selected-lang:before{
	 content: '';
	 display: block;
	 width: 35px;
	 height: 25px;
	 margin-top: 5px;
	 background-size: 35px 35px;
	 background-image: url('../images/romania.jpg');
 }

 .menubar ul{
	 float: right;
	 list-style-type: none;
	 margin-top: 25px;
}

 .menubar ul li{
	 display: inline-block;
 }

 .menubar ul li a{
	 text-decoration: none;
	 color: #fff;
	 padding: 5px 20px;
	 border: 1px solid #fff;
	 transition: 0.5s ease;
 }

 .menubar ul li a:hover{
	 background-color: #fff;
	 color: #000;
 }

.submenu1{
	display: none;
}

.submenu2{
	display: none;
}

.menubar ul li:hover .submenu1{
	display: block;
	position: absolute;
	background-color: #8e8e8e;
	margin-top: 10px;
	margin-left: 10px;
}

.menubar ul li:hover .submenu1 ul{
	display: block;
	margin: 10px;
}

.menubar ul li:hover .submenu1 ul li{
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}

.menubar ul li:hover .submenu1 ul li:last-child{
	border-bottom: none;
}

.menubar ul li:hover .submenu2{
	display: block;
	position: absolute;
	background-color: #8e8e8e;
	margin-top: 10px;
	margin-left: 10px;
}

.menubar ul li:hover .submenu2 ul{
	display: block;
	margin: 10px;
}

.menubar ul li:hover .submenu2 ul li{
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}

.menubar ul li:hover .submenu2 ul li:last-child{
	border-bottom: none;
}

.column {
  float: left;
  width: 70%;
}

 .columnn {
	 float: left;
	 width: 30%;
 }

.row:after {
  content: "";
  display: table;
  clear: both;
}

 .highlight {
	 color:red;
 }